<nav class="sub-header">
  <ul>
    <li id="current_trips_button" onclick="showCurrentTrips()">
      <%= t("trips.index.current_trips_title") %>
    </li>
    <li id="past_trips_button" onclick="showPastTrips()">
      <%= t("trips.index.past_trips_title") %>
    </li>
    <li id="all_trips_button" onclick="showAllTrips()">
      <%= t("trips.index.all_trips_title") %>
    </li>
  </ul>
</nav>
