<p class="title"><%= t(".title") %></p>
<table class="list-table">
  <%= render "families/families_table_header" %>
  <% @families.each do |family| -%>
    <%= render "families/family", family: family %>
  <% end %>
</table>
<%= paginate @families %>
