<nav class="sub-header">
  <ul>
    <li id="active_families_button" onclick="showActiveFamilies()">
      <%= t("families.index.buttons.active") %>
    </li>
    <li id="inactive_families_button" onclick="showNotActiveFamilies()">
      <%= t("families.index.buttons.inactive") %>
    </li>
    <li id="all_families_button" onclick="showAllFamilies()">
      <%= t("families.index.buttons.all") %>
    </li>
  </ul>
</nav>
