<nav class="sub-header">
  <ul>
    <li id="active_families_button" onclick="showActiveFamilies()">
      <%= t("families.index.button_active_families") %>
    </li>
    <li id="inactive_families_button" onclick="showNotActiveFamilies()">
      <%= t("families.index.button_inactive_families") %>
    </li>
    <li id="all_families_button" onclick="showAllFamilies()">
      <%= t("families.index.button_all_families") %>
    </li>
  </ul>
</nav>
