<nav class="sub-header">
  <ul>
    <li id="active_families_button" onclick="showCurrentTrips()">
      <%= t("families.index.button_active_families") %>
    </li>
    <li id="not_active_families_button" onclick="showPastTrips()">
      <%= t("families.index.button_not_active_families") %>
    </li>
    <li id="all_families_button" onclick="showAllTrips()">
      <%= t("families.index.button_all_families") %>
    </li>
  </ul>
</nav>
