<nav class="sub-header">
  <ul>
    <li>
      <a href="active_families/index" class="button" data-target="active-families">
        <%= t("families.index.buttons.active") %>
      </a>
    </li>
    <li>
      <a href="#" class="button" data-target="inactive-families">
        <%= t("families.index.buttons.inactive") %>
      </a>
    </li>
    <li>
      <a href="#" class="button" data-target="all-families">
        <%= t("families.index.buttons.all") %>
      </a>
    </li>
  </ul>
</nav>
