<p class="title"><%= t(".title") %></p>
<%= link_to t(".add_family"), new_family_path(locale: I18n.locale), class: "link_button, button" %>
<table>
  <%= render "families_table_header" %>
  <%= render @families %>
</table>
