.container {
  background-color: $pale-pink;
  border: 2px solid darken($pale-pink, 10);
  margin: 0 250px;
  padding: 10px;
}

.simple_form  {
  label, input, textarea, select {
    font-size: 1.5em;
  }

  .input {
    display: inline-block;
    margin: 15px;
  }

  input[type=submit] {
    display: block;
    margin: 0;
  }

  input[type=radio] {
    margin: 5px 15px 5px 5px;
  }

  label {
    display: inline-block;
    float: left;
    width: 220px;
    margin-right: 20px;
  }

  .numeric {
    border-radius: 10%;
    max-width: 70px;
  }
}

span.error {
  color: red;
  padding-left: 10px;
}
