.simple_form * {
  box-sizing: border-box;
  font-size: $form-size;
  list-style-type: none;
  text-transform: uppercase;
}

.new_trip ul {
  width: 550px;
}

.container {
  background-color: $pale-pink;
  border-collapse: separate;
  border-spacing: 10px;
  border-style: double;
  margin: 0 auto;
  max-width: fit-content;
}

.simple_form input, textarea {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  padding: 10px;
}

.simple_form li input[type=submit] {
  margin-right: 15px;
}

.simple_form input[type=radio] {
  margin: 5px 15px 5px 5px;
}

.simple_form label {
  color: white;
  flex: 1 0 120px;
  max-width: 220px;
}

.simple_form li {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

span.error {
  color: red;
  padding-left: 10px;
}

.numeric {
  border-radius: 10%;
  max-width: 70px;
}
