.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: .8em;
  margin: 0.5em;
  line-height: 1.5;
  flex: 1 1 auto;
}

.th {
  font-weight: 700;
}

.th > .td {
  align-items: center;
  justify-content: center;
  white-space: normal;
}

.tr {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  min-width: 0px;
  overflow: hidden;
  padding: 0.5em;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;  
}
