@import "patterns/_borders";

.table {
  @include border-bottom-style;
  display: flex;
  flex-flow: column nowrap;
  font-size: .8em;
  margin: 0.5em;
  line-height: 1.5;
  flex: 1 1 auto;
}

.th {
  font-weight: 700;
}

.th > .td {
  white-space: normal;
  justify-content: center;
  align-items: center;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.td {
  @include border-bottom-style;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  justify-content: center;
}
