table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 85%;
}

td, th {
  border: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  word-wrap: break-word;
}

td {
  border-bottom: $border;
  border-top: $border;
  padding-top: 15px;
}

tr:nth-child(even) {
  background-color: $light-grey;
}
