
<table id="table_of_link_buttons" class="link_buttons_in_table">
  <tr>
    <td>
      <%= link_to t("families.new.title"), new_family_path(locale: I18n.locale) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to t("schools.new.title"), new_school_path(locale: I18n.locale) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to t("trips.new.title"), new_trip_path(locale: I18n.locale) %>
    </td>
  </tr>
</table>
