
<table id="table_of_link_buttons" class="link_buttons_in_table">
  <tr>
    <td>
      <%= link_to t("families.new.title") %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to t("schools.new.title") %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to t("trips.new.title") %>
    </td>
  </tr>
</table>
