
<table class="homepage">
  <tr>
    <td>
      <%= link_to t("families.new.title"), new_family_path %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to t("schools.new.title"), new_school_path %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to t("trips.new.title"), new_trip_path %>
    </td>
  </tr>
</table>
