<p class="title"><%= t(".title") %></p>
<%= link_to t(".add_school"), new_school_path, class: "link_button, button" %>
<table>
  <%= render "schools_table_header" %>
  <%= render @schools %>
</table>
