.header {
  background: $blue;
  height: 50px;
  margin: 0 auto;
  max-width: 95%;
}

.header ul {
  display: flex;
  height: 100%;
  position: relative;
}

.header ul li {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  list-style: none;
}
