@import "patterns/_colors";

.header{
  @include header-style;
  width:100%;
  height:50px;
  border: 1px solid #d0d0d0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
  align-items: center;
}
.header-item span{
  height: 20px;
}
