.sub-header {
  height: 50px;
  margin: 0 auto;
  max-width: 50%;

  ul {
    display: flex;
    height: 100%;
    position: relative;
  }

  li {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    list-style: none;
  }

  a {
    background: $pale-pink;
    border: 1px solid $pale-prune;
    color: $pale-prune;
    margin: 10px;

    &:hover, &.active {
      background: $pale-prune;
      border: 1px solid $pale-pink;
      color: #fff;
    }
  }
}

#active_families {
  display: block;
}

#inactive_families, #all_families {
  display: none;
}

#active_families {
  display: block;
}

#inactive_families, #all_families {
  display: none;
}
