.button, input[type="submit"],
.list-button {
  background: $pale-prune;
  border-radius: 2px;
  color: $offwhite;
  font-size: 15px;
  padding: 16px;
  max-width: fit-content;
  margin: 10px auto;
  text-transform: uppercase;
}

.link-button {
  appearance: button;
  display: inline-block;
  text-decoration: none;
}

.list-button, a {
  margin: 0px;
  padding: 5px;
}
