.button, input[type="submit"] {
  background: $dark-grey;
  border: none;
  border-radius: 2px;
  color: $offwhite;
  display: block;
  font-size: 15px;
  letter-spacing: 0.009em;
  margin-left: 2%;
  padding: 8px 16px;
  text-transform: uppercase;
  max-width: fit-content;
}

.link-button{
  appearance: button;
  display: inline-block;
  text-decoration: none;
}

td .list-button{
  background: $light-green;
  border-radius: 2px;
  color: $dark-grey;
  display: block;
  font-size: 12px;
  padding: 5px 10px;
  text-transform: uppercase;
}
