@mixin button-style {
  $button-background-color: #333 !global;
  background: $button-background-color;
  $button-color: #f2f2f2 !global;
  color: $button-color;
}

@mixin form-style {
  $form-background-color: #DAE8ED !global;
  background-color: $form-background-color;
}

@mixin header-style {
  $header-background: #B8D4DE !global;
  background: $header-background;
}
