<nav class="header">
  <ul class="main-nav">
    <li>
      <%= link_to t("families.header.links.home"), root_path %>
    </li>
    <li>
      <%= link_to t("families.header.links.families"), families_path %>
    </li>
    <li>
      <%= link_to t("families.header.links.groups") %>
    </li>
    <li>
      <%= link_to t("families.header.links.create_list") %>
    </li>
  </ul>
</nav>
