<nav class="header">
  <ul class="main-nav">
    <li>
      <%= link_to t("header.links.home"), root_path %>
    </li>
    <li>
      <%= link_to t("header.links.families"), families_path %>
    </li>
    <li>
      <%= link_to t("header.links.schools"), schools_path %>
    </li>
    <li>
      <%= link_to t("header.links.trips"), trips_path %>
    </li>
  </ul>
</nav>
