<div class="header">
  <span class="header-item">
    Homepage
  </span>
  <span class="header-item">
    Families List
  </span>
  <span class="header-item">
    Group's List
  </span>
  <span class="header-item">
    Create a List
  </span>
  <span class="header-item">
    Log out
  </span>
</div>
