<nav class="header">
  <ul class="main-nav">
    <li>
      <a><%= link_to "Home page", root_path %></a>
    </li>
    <li>
      <a><%= link_to "Families List", families_path %></a>
    </li>
    <li>
      <a><%= link_to "Groups List" %></a>
    </li>
    <li>
      <%= link_to "Create a List" %>
    </li>
  </ul>
</nav>
